spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Promocode
    username: postgres
    password: password
    hikari:
      connectionTimeout: 20000
      maximumPoolSize: 5

  jpa:
    hibernate:
      ddl-auto: validate